# BDAT1004- Data Programming
## Problem Set 2
# Question 1

Consider the following Python module:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
After importing the module into the interpreter, you execute:
b()
b()
b()
a
?
What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [1]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

In [2]:
b()

In [3]:
b()

In [4]:
b()

In [5]:
a

6

The value given by the last statement 'a' is 6.
As we see, the first value provided to 'a' was 0, and in function
'c(a)' we incremented the value by 2.
When we first called the function 'b()' in which 'a =c(a)' the global a's value incremented by 2, i.e., the vale of 'a' became 2.
likewise the calling it two times again made the value of 'a' 6,i.e., 2+2+2=6.
That's why the last statement 'a' was evaluated as 6.

### Question 2

Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
fileLength('midterm.py')
284
fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory: 
'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read 
as a text file, an exception will be raised. Modify function fileLength() so that a 
friendly message is printed instead:
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [4]:
def fileLength(fn):
    try:
        infile = open(fn, 'r')
        contents = infile.read()
        infile.close()
        return len(contents)
    except FileNotFoundError:
        print(f"File {fn} is not found.")

In [7]:
fileLength('filelength.txt')

123

In [6]:
fileLength('idterm.py')

File idterm.py is not found.

### Question 3

Write a class named Marsupial that can be used as shown below:
 m = Marsupial()
 m.put_in_pouch('doll')
 m.put_in_pouch('firetruck')
 m.put_in_pouch('kitten')
 m.pouch_contents()
['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the 
attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the 
coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and 
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and
c. overloads the __str__ operator so it behaves as shown below.
 k = Kangaroo(0,0)
 print(k)
I am a Kangaroo located at coordinates (0,0)
 k.put_in_pouch('doll')
 k.put_in_pouch('firetruck')
 k.put_in_pouch('kitten')
 k.pouch_contents()
['doll', 'firetruck', 'kitten']
 k.jump(1,0)
 k.jump(1,0)
 k.jump(1,0)
 print(k)
I am a Kangaroo located at coordinates (3,0)

In [26]:
class Marsupial:
    def __init__(s):
        s.pouch = []

    def put_in_pouch(s, i):
        s.pouch.append(i)

    def pouch_contents(s):
        return s.pouch

class Kangaroo(Marsupial):
    def __init__(s, x, y):
        super().__init__()
        s.x = x
        s.y = y

    def jump(s, dx, dy):
        s.x += dx 
        s.y += dy

    def __str__(s):
        return f"I am a Kangaroo located at coordinates ({s.x},{s.y})"

In [27]:
m = Marsupial()

m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [28]:
k = Kangaroo(0, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [29]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())

['doll', 'firetruck', 'kitten']

In [30]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (3,0)

### Question 4

Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops.
 collatz(1)
1
 collatz(10)
10
5
16
8
4
2
1

In [32]:
def collatz(x):
    print(x)
    if x == 1:
        return
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [33]:
collatz(1)

1

In [34]:
collatz(10)

10
5
16
8
4
2
1

### Question 5

Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.
 binary(0)
0
 binary(1)
1
 binary(3)
11
 binary(9)
1001

In [35]:
def binary(n):
    if n <= 1:
        print(n, end='')
    else:
        binary(n // 2)
        print(n % 2, end='')

In [36]:
binary(0)

0

In [37]:
binary(1)

1

In [38]:
binary(3)

11

In [39]:
binary(9)

1001

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your 
implementation using w3c.html.
 infile = open('w3c.html')
 content = infile.read()
 infile.close()
 hp = HeadingParser()
 hp.feed(content)
W3C Mission
Principles

### Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL. As shown below, indentation, specified by indent, should 
be used to indicate the depth of a URL. 
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

### Question 8

Write SQL queries on the below database table that return: 
1.  All the temperature data.
2.  All the cities, but without repetition.
3.  All the records for India.
4.  All the Fall records
5.  The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
5.  The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
6.  The total annual rainfall for Cairo.
7.  The total rainfall for each season.

In [1]:
import sqlite3
con = sqlite3.connect('temp.db')
cur = con.cursor()
cur.execute('''
    CREATE TABLE Temp (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature FLOAT,
        Rainfall  FLOAT
    )
''')
con.commit()

In [3]:
record = ('Mumbai', 'India', 'Winter', 24.8, 5.9)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Mumbai', 'India', 'Spring', 28.4, 16.2)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Mumbai', 'India', 'Summer', 27.9, 1549.4)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Mumbai', 'India', 'Fall', 27.6, 346.0)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('London', 'United Kingdom', 'Winter', 4.2, 207.7)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('London', 'United Kingdom', 'Spring', 8.3, 169.6)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('London', 'United Kingdom', 'Summer', 15.7, 157.0)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('London', 'United Kingdom', 'Fall', 10.4, 218.5)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)
record = ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
cur.execute("INSERT INTO Temp VALUES (?,?,?,?,?)",record)

In [4]:
cur.execute('SELECT * FROM Temp')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [6]:
cur.execute('SELECT Temperature FROM Temp')
print(cur.fetchall())

[(24.8,), (28.4,), (27.9,), (27.6,), (4.2,), (8.3,), (15.7,), (10.4,), (13.6,), (20.7,), (27.7,), (22.2,)]

In [7]:
cur.execute('SELECT DISTINCT City FROM Temp')
print(cur.fetchall())

[('Mumbai',), ('London',), ('Cairo',)]

In [20]:
word = 'India'
cur.execute('SELECT * FROM Temp WHERE Country = ?', (word,))
print(cur.fetchall())

[('Mumbai', 'India', 'Winter', 24.8, 5.9), ('Mumbai', 'India', 'Spring', 28.4, 16.2), ('Mumbai', 'India', 'Summer', 27.9, 1549.4), ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [19]:
word = 'Fall'
cur.execute('SELECT * FROM Temp WHERE Season = ?', (word,))
print(cur.fetchall())

[('Mumbai', 'India', 'Fall', 27.6, 346.0), ('London', 'United Kingdom', 'Fall', 10.4, 218.5), ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [21]:
cur.execute(' SELECT City, Country, Season FROM Temp GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
print(cur.fetchall())

[('London', 'United Kingdom', 'Fall'), ('London', 'United Kingdom', 'Winter'), ('Mumbai', 'India', 'Fall')]

In [26]:
cur.execute('SELECT City, Country FROM Temp WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature)')
print(cur.fetchall())

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3414532569.py, line 1)

In [28]:
word = 'Cairo'
cur.execute('SELECT SUM(Rainfall) AS Total_Rainfall FROM Temp WHERE City = ?', (word,))
print(cur.fetchall())

[(27.6,)]

In [29]:
cur.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Temp GROUP BY Season')
print(cur.fetchall())

[('Fall', 569.0), ('Spring', 192.29999999999998), ('Summer', 1706.5), ('Winter', 230.1)]

 Suppose list words is defined as follows:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following 
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list 
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], 
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list 
words, where each list contains the word in uppercase and lowercase and the 
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 
'lazy', 'dog'] (the list of words in list words containing 4 or more 
characters.)

In [34]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [39]:
words_upper = [word.upper() for word in words]

In [40]:
words_upper

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [41]:
words_lower = [word.lower() for word in words]

In [42]:
words_lower

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [43]:
word_len = [len(word) for word in words]

In [44]:
word_len

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [45]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]

In [46]:
word_info

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

In [48]:
word_4ormore = [word for word in words if len(word) >= 4]

In [49]:
word_4ormore

['quick', 'brown', 'jumps', 'over', 'lazy']